#
# COPYRIGHT 2022 CONNECTED DEVELOPMENT, A DIVISION OF
# EXPONENTIAL TECHNOLOGY GROUP.
#
# SPDX-License-Identifier: Apache-2.0

if SHIELD_SEMTECH_SX1262_LORA

if LORA

config SPI
	default y

endif # LORA

endif # SHIELD_SEMTECH_SX1262_LORA
